# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDEA setteing
/.idea/
kimono-app-api.iml

# output go build
kimono-app-api

# air tmp directory
tmp

# goenv go-version
.go-version

# Air(Live reload for Go apps) Setting Files
.air.conf

.env
.envrc
